@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Karla');

html{
    scroll-behavior: smooth;
}
body{
    font-family: "Karla";
    /*word-spacing: -0.1rem;*/
    font-size: 1.5rem;
    line-height: 2rem;
    background-color: #1a1a1a;
    color: white;
    margin: 0;
    padding: 0;
    transition: background-color 500ms;
}

h1{
    font-size: 2rem;
    word-spacing: -0.4rem;
    line-height: 2.4rem;
}

h3{
    text-decoration: underline;
}

div{
    margin: 0;
    padding: 0;
}

a:link{
    color: inherit;
    text-decoration: none;
}
a:visited{
    color: inherit;
    text-decoration: none;
}

#container{
    margin:0;
}

a:hover{
    text-decoration: underline;
    text-decoration-color: yellowgreen;
}

#container{
    display: flex;
    /*flex-direction: row;*/
}
#left{
    position:relative;
    width: 28vw;
    /*min-width: 300px;*/
}
#right{
    position: relative;
    width: 72vw;
    transition: background-color 500ms;
}

.section{
    padding: 20px;
    border-bottom: 1px dashed #757575;
    border-top: 1px dashed #757575;
}


.button-container{
    justify-content: space-around;
    border: none;
    display:flex;
}


.section > p{
    margin-block-start: 0.3rem;
    margin-block-end: 0.3rem;
    font-weight: lighter;
    color: darkgray;
}

.section > p > a{
    color: white;
}

p.indent{
    margin-left: 2rem;
}


iframe{
    width: 72vw;
    height: 40.5vw;
}

.media-container{
    position: relative;
}

.media-container > img{
    width: 100%;
}

.media-overlay{
    color: black;
    font-size: 1.5vw;
    line-height: 1.8vw;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 80%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background: linear-gradient(180deg, white, rgba(255, 255, 255, 0));
    hyphens: auto;

}

.media-overlay > a{
    color: inherit;
}

.media-overlay:hover {
    transition-delay: 1s;
    opacity: 1;

    transition: all 0.2s ease-in-out;
}

button {
    background-color: #1a1a1a;
    border: 1px solid #757575;
    color: white;
    font-family: inherit;
    padding: 10px;
    margin: 0 auto;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
}

button:hover{
    box-shadow: 0 0 5px 5px rgba(173, 255, 47, 0.4);
    transition: 0.2s ease-in-out;
}


#works{
    position: sticky;
    top: 104px;
}

.description{
    display: none;
    color: yellowgreen;
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin-left: 1.5rem;
}

.description > a{
    color: inherit;
}

.hidden{
    display: none;
    margin-bottom: 60px;
}

img{
    object-fit: fill;
}

.filtered :hover{
    filter: grayscale(50%);
}


.paragraph{
    width: 60%;
    min-width: 600px;
    margin: 0 auto;
    margin-top: 80px;
    font-size: 1.2rem;
    line-height: 1.8rem;
}

.paragraph >p, .detailed > * {
    color: #1a1a1a;
}

.detailed{
    display: none;
    padding: 50px;
}

.detailed:hover{
    box-shadow: 0 0 20px 20px rgba(173, 255, 47, 0.4);
    transition-duration: 500ms;
}

.detailed > a{
    color: #1a1a1a;
}
.img-container {
    width: 80%;
    margin: 0 auto;
    text-align: right;
}

.img-container > img{
    width: 100%;
}

#footer {
    position: relative;
    width: 100vw;
    display: flex;
    color: #757575;
    border-top: 1px dashed #757575;
    font-size: 0.8rem;
}

.caption{
    font-size: 0.8rem;
    margin: 0;
    color: darkgray;
}

li{
    font-size: 1rem;
    line-height: 1.5rem;
}
ol {
    counter-reset: list;
    margin-left: 0;
}
ol li {
    counter-increment: OrderedList;
    list-style: none;
}
ol li :before {
    content: "[" counter(OrderedList) "] ";
}

