@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

html{
    scroll-behavior: smooth;
}
body{
    font-family: "Roboto Mono";
    word-spacing: -0.2rem;
    font-size: 1.2rem;
    background-color: black;
    color: darkgray;
    margin: 0;
    padding: 0;
}

div{
    margin: 0;
    padding: 0;
}

a:link{
    color: white;
    text-decoration: none;

}
a:visited{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    text-decoration-color: yellowgreen;
}

#container{
    display: flex;
    /*flex-direction: row;*/
}
#left{
    position:relative;
    width: 28vw;
    /*min-width: 300px;*/
}
#right{
    position: relative;
    width: 72vw;
}
.section{
    padding: 20px;
    border-bottom: 1px dashed #757575;
    border-top: 1px dashed #757575;
}


.button-container{
    justify-content: space-around;
    border: none;
    display:flex;
}


p{
    color: white;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}
p.indent{
    margin-left: 2rem;
}



iframe{
    width: 72vw;
    height: 40.5vw;
}

.media-container{
    position: relative;
}

.media-overlay{
    color: black;
    font-size: 1.5vw;
    line-height: 1.8vw;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 80%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background: linear-gradient(180deg, white, rgba(255, 255, 255, 0));
    hyphens: auto;

}

.media-overlay > a{
    color: inherit;
}

.media-overlay:hover {
    transition-delay: 1s;
    opacity: 1;

    transition: all 0.2s ease-in-out;
}

button {
    background-color: transparent;
    border: 1px solid #757575;
    color: white;
    font-family: inherit;
    padding: 10px;
    margin: 0 auto;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
}

button:hover{
    box-shadow: 0 0 5px 5px rgba(173, 255, 47, 0.4);
    transition: 0.2s ease-in-out;
}

#footer {
    position: relative;
    width: 100vw;
    display: flex;
    color: #757575;
    border-top: 1px dashed #757575;
    font-size: 0.8rem;
}
#works{
    position: sticky;
    top: 104px;
}
.description{
    display: none;
    color: yellowgreen;
    font-size: 1rem;
    margin-left: 1.5rem;
}

.description > a{
    color: inherit;
}

.hidden{
    display: none;
    margin-bottom: 60px;
}

img{
    object-fit: cover;
}
