.dot:hover{
    opacity: 1;
    stroke-width: 4;
    transition: 0.3s;
}

#plot{
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

body{
    background-color: #01163a;
}

#waveform{
    position: relative;
    display: flex;
    height: 90vh;
}

select, button{
    z-index: 1;
    position: relative;
}

.dot_bg{
    opacity: 0.25;
    fill: black;
    filter: blur(15px);
}
